<% cache card do %>
  <%= card_article_tag card, class: "card" do %>
    <header class="card__header flex align-center gap min-width">
      <%= link_to card.collection.name, cards_path(collection_ids: [card.collection]),
            class: "card__collection txt-uppercase overflow-ellipsis txt-reversed" %>

      <%= render "cards/display/perma/tags", card: card %>
    </header>

    <div class="card__body flex gap full-width flex-item-grow">
      <% if card.published? %>
        <%= turbo_frame_tag card, :edit do %>
          <div class="full-width">
            <h1 class="card__title flex align-start gap-half">
              <span><%= card.title %></span>
              <%= link_to edit_collection_card_path(card.collection, card), class: "btn txt-small margin-block-start-half" do %>
                <%= icon_tag "pencil" %>
                <span class="for-screen-reader">Edit</span>
              <% end %>
            </h1>
            <p class="card__description margin-block-half">
              <%= sanitize card.description_html %>
            </p>
          </div>
        <% end %>
      <% else %>
        <%= form_with model: card, url: collection_card_path(card.collection, card), id: "card_form", class: "full-width", data: { controller: "auto-save" } do |form| %>
          <h1 class="card__title">
            <%= form.text_area :title, placeholder: "Name it…",
                  class: "input input--textarea full-width borderless txt-align-start #{ "fill-highlight" if card.creating? }",
                  autofocus: card.title.blank?,
                  data: { action: "auto-save#change blur->auto-save#submit keydown.enter->auto-save#submit:prevent keydown.ctrl+enter->auto-save#submit:prevent" } %>
          </h1>
          <div class="card__description margin-block-half">
            <%= form.markdown_area :description, class: "input input--textarea full-width fill-white borderless txt-align-start card-field__description #{ "fill-highlight" if card.creating? }",
                  placeholder: "Add some notes, context, pictures, or video about this…",
                  data: { action: "auto-save#change blur->auto-save#submit keydown.ctrl+enter->form#submit:prevent keydown.meta+enter->form#submit:prevent keydown.esc->form#cancel:stop paste->paste#pasteFiles" } %>
          </div>
        <% end %>
      <% end %>

      <% if card.doing? %>
        <%= turbo_frame_tag dom_id(@card, :stages) do %>
          <%= render "cards/stagings/stages", card: card %>
        <% end %>
      <% end %>
    </div>

    <footer class="card__footer full-width flex align-start gap">
      <%= render "cards/display/perma/meta", card: card %>
    </footer>

    <%= render "cards/display/common/background", card: card %>
  <% end %>
<% end %>
